.MobileMenu {
    .vp_text {
        color: $darkViolet;
        font-size: 17px;
        font-weight: 600;
    }

    .listItem {
        border-bottom: 1px solid $lightBlue;
    }

    .iconMenu {
        color: $darkViolet;
    }
}